@page
@model ALOHA.Pages.Products.IndexModel
@{
    ViewData["Title"] = "Home page";
}




        
       
   <h1>SUBTAINABLE CLOTHING SHOPS</h1>
   <center>
       <button class="bt2 button1">New Arrival</button>
       <button class="bt2 button2">Special Offers</button>
       <button class="bt2 button3">Most Popular</button>
   </center>